<script defer src="JS/map.js"></script>
<script defer src="<%= params.API_URL %>"></script>

<script>
    window.markerDataFromBackend = <%- includeParams.markers %>;
    window.isAdmin = <%- includeParams.isAdmin %>;
    window.isLoggedIn = <%- includeParams.isLoggedIn %>;
    window.userIsVerified = <%- includeParams.isVerified %>;
</script>

<!-- Container For Map Elements -->

<div id="map"></div>

<!-- <div id="crosshair" class="hidden"> -->
    <img id="crosshair" class="hidden" src="images/crosshair.svg" alt="Crosshair" />
<!-- </div> -->

<!-- Make New Marker Button -->
<button id="newMarkerBtn">
    <i class="fa-solid fa-plus"></i>
</button>

<div class="hidden" id="marker-form-div">
    <form class="marker-form">
        <label for="category">What type of issue is it?</label>
        <select name="category" id="category">
            <option value="">Select</option>
            <option value="waste">Waste & Flytipping</option>
            <option value="crime">Crime Suspected</option>
            <option value="danger">Dangerous Area</option>
            <option value="power">No Power</option>
        </select>

        <label for="description">Describe the Issue (optional)</label>
        <input
            type="text"
            placeholder="The issue is..."
            name="description"
            id="description"
        />
        <div id="marker-form-buttons">
            <button type="reset" id="cancel-marker-btn" class="btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <button type="submit" id="submit-marker-btn" class="btn">
                <i class="fa-solid fa-check"></i>
            </button>
        </div>
    </form>
</div>
